  <div class="flex-ns flex-wrap center mw9">
    <!-- LEFT -->

    <div class="w-100 w-50-ns">
      <div class="w-80 center tc nested-copy-line-height">
        <h3 class="f2 black">Uses Node.js and hapi</h3>
        <p class="f3">Prism runs anywhere you can run Node.js and the hapi server framework.</p>
        <p class="f3">Combine the power and flexibility of Prism with the Node.js and hapi ecosystems.</p>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="w-100 w-50-ns tc">
      <div class="h4">
        {{ partial "svg/nodejs-plus-hapi.svg" . }}
      </div>
      <p class="f6 mid-gray m0 p0 pt3">Install using npm</p>
      <div class="code f6 bg-black light-green lh-copy pv3 ph3 br2 w-100 w-50-ns center mb2 tl">
        $ npm install --save @optics/prism <br />
      </div>
      <p class="f6 mid-gray">For yarn folks</p>
      <div class="code f6 bg-black light-green lh-copy pv3 ph3 br2 w-100 w-50-ns center tl">
        $ yarn add @optics/prism <br />
      </div>

      <p class="f5 nested-links"><a href="{{ "getting-started/installing/" | absURL }}" class="link">Read the Quick Start Guide {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}</a></p>
    </div>
  </div>
