<div class="w-100 center pt5">
  <div class="w-100 w-40-l tc center">
    <img src="/images/GitHub-Mark-64px.png" alt="Github Logo" class="tc center">
  </div>
</div>

<div class="flex-ns flex-wrap center pb4 center mw9">
  <!-- LEFT -->
  <div class="w-100 tc w-third-l">
    <h3 class="f3 mv3 accent-color-light">Get involved</h3>
    <ul class="list ma0 pa0">
      <li class="mb3 f4">

        <a href="https://github.com/optics/prism/blob/master/CONTRIBUTING.md" class="link mid-gray dim">
          Contribute to the Prism project {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>
      <li class="mb3 f4">
        <a href="http://optics-team.github.io/prism-extensions" class="link mid-gray dim">
          Write an extension, plugin or addon {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>
    </ul>

  </div>


  <div class="w-100 w-third-l tc">
    <div class="w-60-l center">

      <p class="f4">Prism is open-source and free to use under the BSD-3-Clause License.</p>
      <p class="f4">This software is unencumbered by patents or other stipulations.</p>
    </div>
  </div>


  <div class="w-100 tc w-third-l">
    <h3 class="f3 mv3 accent-color-light">More ways to contribute</h3>
    <ul class="list ma0 pa0">
      <li class="mb3 f4">
        <a href="https://github.com/optics/prism-website/blog/master/CONTRIBUTING.md" class="link mid-gray dim">
          Improve this website and the documentation {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>

      <li class="mb3 f4">

        <a href="https://stackoverflow.com/questions/tagged/optics-prism" class="link mid-gray dim">
          Answer questions on StackOverflow {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>
    </ul>
  </div>


  <!-- RIGHT -->


</div>
